<div class="row-fluid">
  <div class="cheat-sheets span12">   
    <div class="span6">
      <h2>Learn to love the Terminal</h2>
      <div class="git-map git-four"></div>
    </div> <!-- //end span6  -->
    
    <div class="span6 red-bkgrnd" id="opacity-90">
      <h5>CHEATSHEET:</h5>
      <h2>COMMAND LINE BASICS</h2>
      <div class="accordion" id="accordion2">
        <%= accordion_block "What is the Command Line?", "what_is_the_command_line", "accordian2" do %>
          <p class = italics>
            <span class="strong em">Many of us are used to using GUIS</span> (Graphical User Interfaces), but learning how to use the 
            CLI ( Command Line Interface ), is essential for programming.  Common names include the Shell, CLI,
             Terminal and Console. But exactly what is the Command Line? At it’s core, it’s simply the place 
             where you type commands to the computer. 
            <a href="http://en.wikipedia.org/wiki/Command-line_interface">Wikipedia</a> defines the Terminal this way:
          </p>
          <p>
            “A command-line interface (CLI) is a means of interaction with a computer program where the user 
            (or client) issues commands to the program in the form of successive lines of text (command lines). 
            A command-line interface is one type of text-based user interface.”
          </p>  
          <p>
            <span class="strong em">On a Mac,</span> launch the Terminal from the utilities folder inside of your main Applications folder.
            Apple Mac OS X[4] and many Linux distributions have the Bash implementation of the Unix shell.
          </p>
          <p>
            <span class="strong em">On MS Windows</span> users use the Command Prompt or the PowerShell. Android uses a Unix shell derived 
            from Ash with commands from the separate toolbox.
          </p>
          <p>We will be concerning ourselves with the Mac side of things.</p>
        <% end %>

        <%= accordion_block "The syntax of the Command Line", "the_syntax_of_the_command_line", "accordian2" do %>
          <p>
            <span class="strong em">Most commands have three parts</span> and start with the $ symbol.<br>
            The Utility or Command Name / The Flags or Options / The Argument(s) <br>
          </p>
          <div class="coding">
            <h6 class="steps">$ ls -1 ~/Desktop</h6>
          </div>
          <p>Okay, let's break each part down:</p>
          <p><span class="strong em">$</span> is the common symbol for SELECT, which indicates that you’re ready to type 
            commands into the command line. You don’t have to type this, it’s inherited with the prompt.
          </p>
          <p><span class="strong em">ls</span> is THE UTILITY. Generally known as “commands” as they 
            are indicating what you want the computer to do. In this case “ls” is the command to list the contents 
            of directories.
          </p>
          <p><span class="strong em">-1</span> is the FLAG or OPTION. This changes or alters how a utility may 
            operate slightly. Usually the default works just fine, but flags allow you to modify them to your liking. 
            They start with one or two dashes. In this case, the option “-1” means one file per line.
          </p>
          <p><span class="strong em">~/Desktop</span> is the ARGUMENT to the utility. Arguments are used to define 
            exactly what the utility might need to know for certain actions, and there is no 
            clear default setting. In this case, the argument tells the utility which directory to list.
          </p>
          <p>
            To get a list of all commands, type this:<br>
          </p>
          
          <div class="coding">
            <h6 class="steps">$ man command</h6>
          </div>
          <p>FYI: Man means manual.</p>  
        <% end %>

        <%= accordion_block "Most Common Commands", "most_common_commands", "accordian2" do %>
          <p>
            <span class="strong em">Remember guys,</span> you're ready to go when you see the '$' in the terminal. You're now
            ready to code. <br>
          </p>
          <p><span class="strong em">ls</span> Lists what is in the current directory.</p>
          <p><span class="strong em">pwd</span> Print Working Directory, gives you the full path of where you are.</p>
          <p><span class="strong em">cd</span> Change Directory, allows you to go to another directory, remember you have to
            define this utility with a path, for instance cd ~/my_machine/new_path.</p>
          <p><span class="strong em">cd ..</span> Change Directory, but you want to go up a directory vs. down a directory.</p>
          <p><span class="strong em">irb</span> Interactive Ruby, which you have to have installed. Now watch for the prompt! 
            When launching the irb, the prompt will change from '$' to '>'. That means you have to exit irb with control D, to 
            get back to the former context.</p>
          <p><span class="strong em">mkdir</span> Make Directory, allows you to make a folder.</p>
          <p><span class="strong em">rails new app_name</span> Rails New Application Name, after you've installed Rails, 
            this command will create the entire directory structure of a rails application. Rails is the Gem, App_Name is just 
            a placeholder for the name you'll be giving the app.
          </p>
          <p><span class="strong em">rails server or rails s</span> Rails Server which launches a local server, you then open
            a browser window and type: localhost:3000 and bam you've got a local version of your work.</p>
          <p><span class="strong em">exit</span> Exits a terminal window.</p>
          <p><span class="strong em">man -k "topic"</span>Manual Lookup Topic, looks up and displays what you're 
            looking for in quotes.
          </p>
        <% end %>
              
        <%= accordion_block "More Online Resources", "more_online_resources", "accordian2" do %>
          <p>
            <span class="strong em">If you ever get stuck,</span> go online to any one of these resources. Don't be afraid to ask for help!
          </p>
          <p>
            <span class="strong em"><a href="http://stackoverflow.com/">Stack Overflow</a></span> is a great place to post a question.<br>
            <span class="strong em"><a href="http://en.wikipedia.org/wiki/List_of_Unix_utilities#List/">Wiki List of Unix Commands</a></span> 
            is a great place to read about the history and the use of the command line.<br>
            <span class="strong em"><a href="http://ss64.com/osx/">Mac User List</a></span> of Unix Commands <br>
            <span class="strong em"><a href="0http://ss64.com/">ss64.com</a></span> is another great for resource for everyone.<br>
          </p>
        <% end %>
      </div> <!-- //end accordion2 -->
      
      <div class="btn-group dropup">
        <button class="btn">Next Cheatsheet</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Command Line Basics", cheatsheet_command_line_basics_path %></li>
          <li><%= link_to "All About Git", cheat_path %></li>
          <li><%= link_to "How to Install Git", cheatsheet_install_git_path %></li>
          <li><%= link_to "How to Create a Git Repository", cheatsheet_repository_path %></li>
          <li><%= link_to "How to Clone Fetch and Pull", cheatsheet_clone_a_repository_path %></li>
          <li><%= link_to "Create and Merge Git Branches", cheatsheet_merge_a_repository_path %></li>
          <li><%= link_to "How to Rollback a Git Repository", cheatsheet_rollback_a_repository_path %></li>
          <li><%= link_to "Deploying to Heroku", cheatsheet_deploying_to_heroku_path %></li>
          <li><%= link_to "RVM: Ruby Version Control", cheatsheet_rvm_ruby_version_control_path %></li>
          <li><%= link_to "Basic Ruby", cheatsheet_basic_ruby_path %></li>
          <li><%= link_to "Scaffolding Basics", cheatsheet_scaffolding_path %></li>
          <li><%= link_to "Overview of Basic Testing", cheatsheet_basic_overview_of_testing_path %></li>
        </ul>
      </div> <!-- //btn-group dropup  -->
      
      <!-- social networks -->
      <div class="canvas">
        <%= link_to "", "https://twitter.com/railsbridge", :id => "twitter", :target => "_blank" %>
        <%= link_to "", "https://github.com/railsbridge", :id => "github", :target => "_blank" %>
      </div>
    </div> <!-- //span5 red-bkgrnd   -->
  </div> <!-- // end cheat-sheets span11   -->
</div> <!-- //end row-fluid -->
