<div class="row-fluid">
  <div class="cheat-sheets span12">   
    <div class="span6">
      <h2>Dummy Copy - Illustration to come</h2>
      <div class="git-map git-one"></div>
    </div> <!-- //end span6  -->
    
    <div class="span6 red-bkgrnd" id="opacity-90">
      <h5>CHEATSHEET:</h5>
      <h2>BASIC OVERVIEW OF TESTING</h2>
      <div class="accordion" id="accordion2">
        <%= accordion_block "What is Git?", "what_is_git", "accordian2" do %>
          <p>
            <a href="http://git-scm.com/">Git</a> is a distributed open source Version Control System that tracks content 
            such as files and directories. Git allows the creation of a history for a collection of files, and stores the 
            file content in BLOBs (binary large objects); which are captured in states that are fully accessible.
          </p>
          <p>
            The state of a project might be a different collection of files or different content within the files. 
            States can be saved as "Branches", which are akin to a copied file.
          </p>  
          <p>
            Since a distributed version control system has no central server, every local copy contains the full history of 
            a project and is stored in a "Commit Object". Every time you make a modification, you have to "Commit" the change.
          </p>
          <p>
            The "Commit File" keeps track of all versions including the author, committer and comments about the updated changes, 
            plus any "Parent" commits that directly precede it allowing to revert back to any point in a project's code history. 
            Git can be used from the command line or terminal.
          </p>
        <% end %>
                       
        <%= accordion_block "What is Github?", "what_is_github", "accordian2" do %>
          <p>
            <a href="https://github.com/">Github </a>is an open source project that manages and stores revisions of projects. 
            It's literally a Git repository hosting service, with many of it's own features, such as wikis and basic 
            task management tools for every project. The flagship functionality is "forking" or copying a repository from one user's 
            account to another; which enables a user to modify a project in a user's own account. If you make changes you'd like to share, 
            you can send a notification called a "pull request" to the original owner, then with a  click of a button, merge the changes 
            found in your repo with the original repository.
          </p>
          <p>
            It makes contribution management easier allowing for both open-source and private repositories to have a place for
            both development discussions and patch distribution.
          </p> 
        <% end %>
        
        <%= accordion_block "What is Repositories?", "what_is_repositories", "accordian2" do %>
          <p>
            A repository is a central place where data is stored and maintained for safe keeping. A repository can be a place where 
            multiple databases or files are located for distribution over a network, or a repository can be a location that is directly 
            accessible to the user without having to travel across a network.
          </p>
          <p>
            The open source community uses repositories to allow software to be found easier and a safe, trusted place to organize projects
            that a team can work with. Repositories can be set up Locally ( on one's computer ) or Remotely ( on a server in the cloud, 
            like Github or Heroku).
          </p>
        <% end %>
                       
        <%= accordion_block "What are Local Repositories?", "what_are_local_repositories", "accordian2" do %>
          <p>
            Local repositories are the local copy of a project on one's computer. Using Git allows one to clone or fork
            a repository, e.g. create an exact copy of a repository with a complete history. Owners of repositories can sync changes
            from their local copy to a remote copy by Pulling and Posting; which creates the basic work flow of software development.
          </p>
        <% end %>
                
        <%= accordion_block "What are Remote Repositories?", "what_are_remote_repositories", "accordian2" do %>
          <p>
            Remote repositories are the remote copy of a project located on another computer or host like Github or Heroku. 
            The "source" repository is often distributed by way of a URL; which describes where the repository is located and what protocol 
            ( http, ssh, git, etc.). 
          </p>
          <p>
            The source is known os the Branch Master and with a series of Git commands, a user will periodically update or "Git Pull" 
            to retrieve new updates from the remote repository, then continue working locally and send or "Git Push" new changes or "Commits" 
            to contribute to shared repositories.
          </p>
        <% end %>
        
        <%= accordion_block "What is Heroku?", "what_is_heroku", "accordian2" do %>
          <p>
            <a href="http://www.heroku.com/">Heroku</a> is a cloud application platform and a brand new way of building and deploying 
            web apps due to it's ease of use. Programmers can spend all of their time in development vs managing servers 
            - a huge win by most accounts.
          </p>
          <p>
            This focus on productivity makes development both easier and painless to build and run cloud applications.
            Designed as an open-source project in Ruby on Rails, the workflow is well documented and works seamlessly with Git.
          </p>
        <% end %>
      </div> <!-- //end accordion2 -->
      
      <div class="btn-group dropup">
        <button class="btn">Next Cheatsheet</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Command Line Basics", cheatsheet_command_line_basics_path %></li>
          <li><%= link_to "All About Git", cheat_path %></li>
          <li><%= link_to "How to Install Git", cheatsheet_install_git_path %></li>
          <li><%= link_to "How to Create a Git Repository", cheatsheet_repository_path %></li>
          <li><%= link_to "How to Clone Fetch and Pull", cheatsheet_clone_a_repository_path %></li>
          <li><%= link_to "Create and Merge Git Branches", cheatsheet_merge_a_repository_path %></li>
          <li><%= link_to "How to Rollback a Git Repository", cheatsheet_rollback_a_repository_path %></li>
          <li><%= link_to "Deploying to Heroku", cheatsheet_deploying_to_heroku_path %></li>
          <li><%= link_to "RVM: Ruby Version Control", cheatsheet_rvm_ruby_version_control_path %></li>
          <li><%= link_to "Basic Ruby", cheatsheet_basic_ruby_path %></li>
          <li><%= link_to "Scaffolding Basics", cheatsheet_scaffolding_path %></li>
          <li><%= link_to "Overview of Basic Testing", cheatsheet_basic_overview_of_testing_path %></li>
        </ul>
      </div> <!-- //btn-group dropup  -->
      
      <!-- social networks -->
      <div class="canvas">
        <%= link_to "", "https://twitter.com/railsbridge", :id => "twitter", :target => "_blank" %>
        <%= link_to "", "https://github.com/railsbridge", :id => "github", :target => "_blank" %>
      </div>
    </div> <!-- //span5 red-bkgrnd   -->
  </div> <!-- // end cheat-sheets span11   -->
</div> <!-- //end row-fluid -->
