<div class="row-fluid">
  <div class="cheat-sheets span12">   
    <div class="span6">
      <h2>Convenient Ways to Install</h2>
      <div class="git-map git-two"></div>
    </div> <!-- //end span6  -->
    
    <div class="span6 red-bkgrnd" id="opacity-90">
      <h5>CHEATSHEET:</h5>
      <h2>HOW TO INSTALL GIT</h2>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data=parent="#accordion2" href="#collapseOne">
              Installing from Source 
            </a> 
          </div> <!-- //end accordion-heading    -->
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
             <p>
                To install <span class="strong em"><a href="http://git-scm.com/book/en/Getting-Started-Installing-Git">Git</a></span> 
                from the Source is generally useful, because you’ll get 
                the most recent version. Each version of Git tends to include useful UI enhancements. 
                <br><br>Getting the latest version is often 
                the best route if you feel comfortable compiling software from source. It is also the case that many 
                Linux distributions contain very old packages; so unless you’re on a very up-to-date distro or are 
                using backports, installing from source may be the best bet.
             </p>
             <div class="coding">
               <h6 class="steps">
                 $ yum install curl-devel expat-devel gettext-devel \ <br>
                   openssl-devel zlib-devel<br>
                 $ apt-get install libcurl4-gnutls-dev libexpat1-dev gettext \<br>
                   libz-dev libssl-dev
               </h6>
             </div>
             <p>When you have all the necessary dependencies, you can go ahead and grab the latest snapshot from the Git web site:</p>
              <div class="coding">
                <h6 class="steps">
                  http://git-scm.com/download  
                </h6>
               </div>
               <p>Then, compile and install:</p>
               <div class="coding">
                 <h6 class="steps">
                   $ tar -zxf git-1.7.2.2.tar.gz<br>
                   $ cd git-1.7.2.2<br> 
                   $ make prefix=/usr/local all<br> 
                   $ sudo make prefix=/usr/local install
                 </h6>
               </div>
               <p>After this is done, you can also get Git via Git itself for updates:</p>
               <div class="coding">
                 <h6 class="steps">
                   $ git clone git://git.kernel.org/pub/scm/git/git.git
                 </h6>
               </div>
            </div>
          </div> <!-- //end collapseOne -->
        </div> <!-- //end accordion-group   -->
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Installing on Linux
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>If you want to <span class="strong em"><a href="https://github.com/">install Git on Linux</a></span> via a binary installer, 
                you can generally do so through the basic package-management tool that comes with your distribution. If you’re on Fedora, you can use yum:
              </p>
              <div class="coding">
                 <h6 class="steps">
                   $ yum install git-core<br>
                 </h6>
               </div>
               <p>
                 Or if you’re on a Debian-based distribution like Ubuntu, try apt-get:
               </p>
               <div class="coding">
                  <h6 class="steps">
                    $ apt-get install git<br>
                  </h6>
                </div>
            </div>
          </div> <!-- //end collapseTwo -->   
        </div> <!-- //end accordion-group   -->       
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
              Installing on Mac
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>There are two easy ways to install Git on a Mac. The easiest is to use the graphical Git installer, 
                which you can download from the <span class="strong em"><a href="">Google Code</a></span> page.
              </p>
              <div class="coding">
                 <h6 class="steps">
                   http://code.google.com/p/git-osx-installer<br>
                 </h6>
               </div>
               <p>The most common way to install Git is via MacPorts
                  <span class="strong em"><a href="http://www.macports.org">http://www.macports.org</a></span>. If you have MacPorts installed, install Git via:
               </p>
               <div class="coding">
                  <h6 class="steps">
                    $ sudo port install git-core +svn +doc +bash_completion +gitweb<br>
                  </h6>
                </div>  
              </div>
            </div> <!-- //end collapseThree -->  
          </div> <!-- //end accordion-group   --> 
        
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
              Installing on Windows
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <p><span class="strong em">Installing Git</span> on Windows is very easy. The msysGit project has one of the easier installation procedures. 
                Simply download the installer exe file from the Google Code page, and run it:
              </p>
              <div class="coding">
                 <h6 class="steps">
                   http://msysgit.github.com/<br>
                 </h6>
               </div>
               <p>After it’s installed, you have both a command-line version (including an SSH client that will come in handy later) 
                 and the standard GUI. <br><br>
                 <span class="strong em">Note on Windows usage:</span> you should use Git with the provided msysGit shell (Unix style), it allows      
                 to use the complex lines of command given in this book. If you need, for some reason, to use the native Windows shell /  
                 command line console, you have to use double quotes instead of simple quotes (for parameters with spaces in them) and you  
                 must quote the parameters ending with the circumflex accent (^) if they are last on the line, as it is a continuation    
                 symbol in Windows.
               </p>
              </div>
          </div>   <!-- //end collapseFour -->  
        </div> <!-- //end accordion-group   -->  
        
        
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSix">
             A few more GIT tips nobody told you about
            </a>
          </div>
          <div id="collapseSix" class="accordion-body collapse">
            <div class="accordion-inner">
              <p><span class="strong em"><a href="http://mxcl.github.com/homebrew/">Homebrew:</a></span> "the missing package manager for OSX"
              </p>
              <p>
                Homebrew installs everything you need that Apple didn't, and it's all git and ruby underneath.
                It compliments OSX, and you can install GIT, your GEMS and all the GEM depedencies with 'brew'.
                It allows you to easily install hundreds of open-source tools, did I mention that it also installs Git?
              </p>
              <div class="coding">
                <h6 class="steps">
                  ruby -e "$(curl -fsSL https://raw.github.com/mxcl/homebrew/go)"<br>
                </h6>
              </div>
              <p>
                Run the command, and follow the instructions when prompted. Note that Terminal does not provide visual 
                feedback when you type your password. Just type it slowly and press return.
                Once the installation is successful, run the following command:
              </p>
              <div class="coding">
                <h6 class="steps">
                  $ brew doctor<br>
                </h6>
              </div>
              <p>If you get 'Your system is raring to brew', you can move on to the next step.</p>
              <p>If you get warning: <br>
                'Experimental support for using Xcode without the "Command Line Tools", <br>
                you probably upgraded from Lion to Mountain Lion but haven't reinstalled the Command Line Tools. 
              </p>
              <p>If you get Error:<br> 
                 No such file or directory - /usr/local/Cellar,<br> 
                 run the following command, which creates the /usr/local/Cellar directory:
              </p>
              <div class="coding">
                <h6 class="steps">
                  $ sudo mkdir /usr/local/Cellar<br>
                </h6>
              </div>
              <p>'sudo' allows you to run commands as a user with higher access rights, 
                which is why it prompts you for your password, and 'mkdir' stands for “make directory”.
                Next, run the command below, which makes you the owner of the /usr/local directory, in 
                addition to all nested directories. This is needed in order to install Git in the next step. 
                Otherwise, you might get the following error when trying to install Git or other tools with 
                Homebrew: 'Cannot write to /usr/local/Cellar'.
              <p>
              <div class="coding">
                <h6 class="steps">
                  $ sudo chown -R `whoami` /usr/local<br>
                </h6>
              </div> 
              <p>
                'chown' stands for “change owner”, the -R flag applies this to all nested files and directories, 
                and 'whoami' is a variable that represents your OS X username. You should copy and paste the command above as is.
                You can learn more about any Unix commany by typing 'man' (for "manual"), followed by the command. For example:
              </p>
              <div class="coding">
                <h6 class="steps">
                  $ man chown<br>
                </h6>
              </div>
              <p>
                If a manual is longer than a page long, it will display 'a :' at the end to signify there is more to read. 
                To display one additional line at a time, press return. To display an additional page at a time, press the 
                space bar. To quit at any time, press q. Then run 'brew doctor' again. If you get 'Your system is raring to
                brew', you are golden. If you're on Lion, you might get an error message, warning you that your "Xcode is
                configured with an invalid path...." The following command should fix it:
              </p>
              <div class="coding">
                <h6 class="steps">
                  $ sudo xcode-select -switch /Applications/Xcode.app/Contents/Developer<br>
                </h6>
              </div>
              <p>Run brew doctor to verify. Your system should be raring to brew now!</p>
            </div> <!-- // end accordion-inner  -->
          </div> <!-- //end collapseSix   -->
        </div> <!-- //end accordion-group  -->
      </div> <!-- //end accordion2 -->
      
      <div class="btn-group dropup">
        <button class="btn">Next Cheatsheet</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Command Line Basics", cheatsheet_command_line_basics_path %></li>
          <li><%= link_to "All About Git", cheat_path %></li>
          <li><%= link_to "How to Install Git", cheatsheet_install_git_path %></li>
          <li><%= link_to "How to Create a Git Repository", cheatsheet_repository_path %></li>
          <li><%= link_to "How to Clone Fetch and Pull", cheatsheet_clone_a_repository_path %></li>
          <li><%= link_to "Create and Merge Git Branches", cheatsheet_merge_a_repository_path %></li>
          <li><%= link_to "How to Rollback a Git Repository", cheatsheet_rollback_a_repository_path %></li>
          <li><%= link_to "Deploying to Heroku", cheatsheet_deploying_to_heroku_path %></li>
          <li><%= link_to "RVM: Ruby Version Control", cheatsheet_rvm_ruby_version_control_path %></li>
          <li><%= link_to "Basic Ruby", cheatsheet_basic_ruby_path %></li>
          <li><%= link_to "Scaffolding Basics", cheatsheet_scaffolding_path %></li>
          <li><%= link_to "Overview of Basic Testing", cheatsheet_basic_overview_of_testing_path %></li>
        </ul>
      </div> <!-- //btn-group dropup  -->
      
      <!-- social networks -->
      <div class="canvas">
        <%= link_to "", "https://twitter.com/railsbridge", :id => "twitter", :target => "_blank" %>
        <%= link_to "", "https://github.com/railsbridge", :id => "github", :target => "_blank" %>
      </div>
    </div> <!-- //span5 red-bkgrnd   -->
  </div> <!-- // end cheat-sheets span11   -->
</div> <!-- //end row-fluid -->
