<div class="row-fluid">
  <div class="cheat-sheets span12">   
    <div class="span6">
      <h2>Cloning into a new directory</h2>
      <div class="git-map git-one"></div>
    </div> <!-- //end span6  -->
    
    <div class="span6 red-bkgrnd" id="opacity-90">
      <h5>CHEATSHEET:</h5>
      <h2>HOW TO CLONE, FETCH, and PULL</h2>
      <div class="accordion" id="accordion2">
        <%= accordion_block "Git Clone", "git_clone", "accordian2" do %>
          <p>
            <span class="strong em">In the command line 'git clone'</span> will copy a repo into a newly created directory,
            and creates remote-tracking branches for each branch in the cloned repository.
          </p>
          <p>
            This command additionally creates a remote called 'origin' for the repo cloned from, 
            and sets up a local branch based on the remote's active branch (usually master). It also
            creates remote-tracking branches for all the branches in the repository.
          </p> 
          <div class="coding">
            <h6 class="steps">
              $ cd /newfolder<br>
              $ git clone git@github.com:username/Project-Name.git<br>
              $ git branch<br>
                * master<br>
              remoteBranch<br>
            </h6>
          </div>
        <% end %>

        <%= accordion_block "Git Fetch", "git_fetch", "accordian2" do %>
          <p>
            <span class="strong em">A current local repo</span> with a remote set up for the current project, 
            you can git fetch<REMOTENAME>. Git fetch is similar to pull, but it will not do any merging.
          </p>
          <p>  
            Fetch does not make any changes to local branches, so you will need
            to merge a remote branch with a paired local branch to incorporate new fetch changes.    
          </p> 
          <div class="coding">
            <h6 class="steps">
              $ git fetch<br>
            </h6>
          </div>
        <% end %>
        
        <%= accordion_block "Git Pull", "git_pull", "accordian2" do %>
          <p>
            <span class="strong em">Git Pull</span> will pull down from a remote and instantly merge into the branch you're
            in when you make the request. Pull is a high-level request, that runs 'fetch' and
            'merge' by default.
          </p>
          <p>
            Similar to git fetch, you can use git <REMOTENAME> <BRANCHNAME> to fetch a specific
            branch and merge it into your current local branch. For one-time pull from other 
            user's repos, you can use a URL in place of a remote name.
          </p> 
          <div class="coding">
            <h6 class="steps">
              $ git pull origin master<br>
            </h6>
          </div>
        <% end %>
      </div> <!-- //end accordion2 -->
      
      <div class="btn-group dropup">
        <button class="btn">Next Cheatsheet</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Command Line Basics", cheatsheet_command_line_basics_path %></li>
          <li><%= link_to "All About Git", cheat_path %></li>
          <li><%= link_to "How to Install Git", cheatsheet_install_git_path %></li>
          <li><%= link_to "How to Create a Git Repository", cheatsheet_repository_path %></li>
          <li><%= link_to "How to Clone Fetch and Pull", cheatsheet_clone_a_repository_path %></li>
          <li><%= link_to "Create and Merge Git Branches", cheatsheet_merge_a_repository_path %></li>
          <li><%= link_to "How to Rollback a Git Repository", cheatsheet_rollback_a_repository_path %></li>
          <li><%= link_to "Deploying to Heroku", cheatsheet_deploying_to_heroku_path %></li>
          <li><%= link_to "RVM: Ruby Version Control", cheatsheet_rvm_ruby_version_control_path %></li>
          <li><%= link_to "Basic Ruby", cheatsheet_basic_ruby_path %></li>
          <li><%= link_to "Scaffolding Basics", cheatsheet_scaffolding_path %></li>
          <li><%= link_to "Overview of Basic Testing", cheatsheet_basic_overview_of_testing_path %></li>
        </ul>
      </div> <!-- //btn-group dropup  -->
      
      <!-- social networks -->
      <div class="canvas">
        <%= link_to "", "https://twitter.com/railsbridge", :id => "twitter", :target => "_blank" %>
        <%= link_to "", "https://github.com/railsbridge", :id => "github", :target => "_blank" %>
      </div>
    </div> <!-- //span5 red-bkgrnd   -->
  </div> <!-- // end cheat-sheets span11   -->
</div> <!-- //end row-fluid -->
