<div class="row-fluid">
  <div class="cheat-sheets span11">   
      <div class="span7">
        <h2>Creating a Local Repo</h2>
        <div class="git-map git-one"></div>
      </div>
      <div class="span5 red-bkgrnd" id="opacity-90">
        <h5>CHEATSHEET:</h5>
        <h2>HOW TO CREATE A REPOSITORY</h2>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
                What are Local Repositories?
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Local repositories are the local copy of a project on one's computer. Using Git allows one to clone or fork
                  a repository, e.g. create an exact copy of a repository with a complete history. Owners of repositories can sync changes
                  from their local copy to a remote copy by Pulling and Posting; which creates the basic work flow of software development.
                </p> 
              </div>
            </div>
          </div>
        </div>
        
        <div class="span2">
          <span class="badge">1</span>
        </div>
        <div class="coding span9">
          <h5 class="steps">type the following <br> command in your terminal:</h5>
          <h4 class="code">$ mkdir nest</h4>
          <h4 class="small">
            • "mkdir" is the terminal command to make a directory; which is another term for folder
            <br>
            • "nest" is the name of the directory your app will be in ( you can name your app anything you want )
          </h4>    
        </div>
        <div class="span2">
          <span class="badge">2</span>
        </div>
        <div class="coding span9">
          <h5 class="steps">type the following <br> command in your terminal:</h5>
          <h4 class="code">$ cd nest</h4>
          <h4 class="small">
            • "cd" is the current directory you have identif
            <br>
            • "nest" is the name of the directory your app will be in ( you can name your app anything you want )
          </h4>    
        </div>
        <div class="span7">
          <div class="btn-group dropup">
            <button class="btn">Next Cheatsheet</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "How to Create a Repository",  cheatsheet_repository_path %>
              <li><%= link_to "How to Install Git",  cheatsheet_install_git_path %>
              <li><%= link_to "How to Clone a Repository",  cheatsheet_clone_a_repository_path %>
              <li><%= link_to "How to Merge a Repository",  cheatsheet_merge_a_repository_path %>
              <li><%= link_to "How to Rollback a Repository",  cheatsheet_rollback_a_repository_path %>
            </ul>
          </div>
        </div>
          <!-- social networks -->
        <div class="canvas">
        <a href="/"><div id="twitter"></div></a>
        <a href="/"><div id="github"></div></a>
      </div>
    </div>
  </div>